
/*COMMENTS */

.comment-container{
    margin: 1.2rem 0 1.2rem 0;
    max-width: 100%;
  }
  .comment{
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    align-items: center;
    margin-top: 5px;
  }
  .comment > p {
    padding-right: 5px;
  }
  .user{
    margin: 0 8px;
    color:rgba(0, 0, 0, 0.55)
  
  }

  @media screen and (max-width: 992px){
    .comment{
      display: flex;
      flex-direction: column-reverse;
      padding-bottom: 5px;
    }
  }
  