body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link { 
  text-decoration: none;
  color: black
 }


/* ---------------------------------------------------------------------------------------------- */
#body-container{
  display: grid;
  grid-template-columns: 1.3fr repeat(4, 2fr);
  grid-template-rows: 100px 250px 1fr;
  row-gap: 8px;
  column-gap: 20px;
}

