
/*SLIDER and Components: Slider and Slide*/
.slider-container{
  grid-column: 2 / 6;
 grid-row: 2;
  }

h2{
  margin: 0;
}
  .slide-img{
    /*display: block erase blank space under the img*/
    display: block;
    position: absolute;
    top: 0;
    width:98%;
    height: 100%;
    object-fit: cover;
    transition-duration: 0.4s;
    flex-shrink: 3;
  }
  
  .slide-img:hover{
  opacity: 0.7;
  cursor: pointer;
  }
  
  .slide:hover{
    font-size: 1.3rem;
  }
  
  .slides{
    display: flex;
    justify-content: space-evenly;
  
  }

  .slide{
    position: relative;
    width: 98%;
    height: 0;
    padding-top: calc(100% * (4/24));
  }
      
  .slide-title{
    color: white;
    font-weight: bold;
    margin: 0;
    width: 98%;
    position: absolute;
    bottom: 0.3rem;
    left: 0.3rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
/*********************************************************************************/
/*MEDIA QUERIES*/

/*Slider positioning and slides margin*/
@media screen and (max-width: 992px){
  .slider-container{
    grid-column: 1/6;
  }

  h2{
    margin-left: 10px;
  }

  .slide{
    margin: 0 3px 0 3px;
  }
}

/*add margin to slider container*/
@media screen and (max-width: 550px){
  .slider-container{
       margin: 4vw;
  }

}

/*Hide slider*/
@media screen and (max-width: 450px){
  
  .slider-container{
    display: none;
  }
}