
/*SLIDER and Components: Slider and Slide*/
.slider-container{
  grid-column: 2 / 6;
 grid-row: 2;
  }


  .slide-img{
    width:100%;
    max-width: 300px;
    max-height:auto;
    transition-duration: 0.4s;
    flex-shrink: 3;
  }
  
  .slide-img:hover{
  opacity: 0.7;
  cursor: pointer;
  }
  
  .slide:hover{
    font-size: 1.3rem;
  }
  
  .slides{
    display: flex;
    justify-content: space-evenly;
  
  }

  .slide{
    position: relative;
  }
      
  .slide-title{
    color: white;
    font-size: bold;
    margin: 0;
    position: absolute;
    bottom: 1rem;
    left: 0.5rem;
  }
  
/*********************************************************************************/
/*MEDIA QUERIES*/

/*Slider positioning and slides margin*/
@media screen and (max-width: 992px){
  .slider-container{
    grid-column: 1/6;
  }

  h2{
    margin-left: 10px;
  }

  .slide{
    margin: 0 3px 0 3px;
  }
}

/*add margin to slider container*/
@media screen and (max-width: 550px){
  .slider-container{
   
    margin: 4vw;
  }

}

/*Hide slider*/
@media screen and (max-width: 450px){
  
  .slider-container{
    display: none;
  }
}